<div class="navbar bg-primary" data-bs-theme="dark">
    <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <img src="./img/bca026e86d354c70e6f35ed3a85b8bf9.webp" alt="" class="plank img-fluid">
            Бархатные тяги
        </a>
        <button type="button" class="btn btn-outline-light button_fact">Кнопка!</button>
    </div>
</div>